body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
   
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
   
}

.big-heading{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
.section-heading{
    font:3rem;
    line-height: 1.5;
}
.price-text{
    font:3rem;
    line-height: 1.5;
}

p {
    color: gray;
   font-weight: 600;
}

/* Container section */
.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section{
    background-color: #ff4c68;
    color: #FFF;
}
.white-section{
    background-color: #fff;
}

/* Navbar font change */

.navbar {

    padding-bottom:4.5rem;
    
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2em;
    font-family: "Montserrat-Light";
   
}

/* Download-Button */
.Download-Button{
    margin: 5% 3% 5% 0;
}
/* Title section */


#title .container-fluid {
    padding-top: 3%;
}


/* title-image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Features Section*/
#features{
    position: relative;
    background-color: white;
}

.feature-box {
    padding: 5%;
}

.feature-title{
    font-size: 1.5rem;
}
.icon{
    color: #ef8172;
    margin-bottom: 1em;
}

.icon:hover {
    color: #ff4c68;
}


/* testimonials */
#testimonials{
    background-color: #ef8172;
}

.testimonials-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-text{
    font:3rem;
    line-height: 1.5;
}

/* Press */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    padding: 20px 20px 50px;
}

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

/* Footer */



.cta-heading{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer copyright */

.social-icon{
    margin: 20px 10px;
}

@media  (max-width: 990px){
    #title{
        text-align: center;
    }

    .title-image {
        transform: rotate(0);
        position: static;
    }
}

